-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- DropForeignKey
ALTER TABLE "orders" DROP CONSTRAINT "orders_couponId_fkey";

-- AlterTable
ALTER TABLE "public"."orders" DROP COLUMN "city",
DROP COLUMN "couponId",
DROP COLUMN "discount",
DROP COLUMN "razorpayOrderId",
DROP COLUMN "razorpayPaymentId",
DROP COLUMN "shippingCost",
DROP COLUMN "state",
DROP COLUMN "subtotal";

-- DropTable
DROP TABLE "shipping_rates";

-- DropTable
DROP TABLE "coupons";

-- DropEnum
DROP TYPE "DiscountType";

